* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

#main-content {
  margin-top: 60px;
}

form {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #fff;
}
