<div class="row" ng-controller="validationDemoCtrl">
  <div class="col-xs-12 col-sm-6">
    <form name="signup">
      <abm-form-group error-messages="errorMap">
        <label data-abm-label type="floating">Name</label>
        <input type="text" name="name" class="form-control" abm-form-control ng-model="user.name" required>
      </abm-form-group>
      <abm-form-group error-messages="errorMap">
        <label data-abm-label>Email</label>
        <input type="email" name="email" class="form-control" placeholder="johndoe@mail.com" abm-form-control ng-model="user.email" required>
      </abm-form-group>
      <abm-form-group>
        <label>Prefered notifications via:</label>
        <div class="checkbox" abm-checkbox label="Text Message">
          <input type="checkbox" name="notifications" ng-model="user.notifications.text">
        </div>
        <div class="checkbox" abm-checkbox label="Email">
          <input type="checkbox" name="notifications" ng-model="user.notifications.email">
        </div>
      </abm-form-group>
      <div class="togglebutton" abm-toggle label="Premium Account">
        <input type="checkbox" name="premiumAccount" ng-model="user.premium" ng-change="user.paymentMode=null">
      </div>
      <fieldset ng-disabled="!user.premium">
        <abm-form-group error-messages="errorMap">
          <label>Prefered payment method</label>
          <div class="radio" abm-radio label="Net banking">
            <input type="radio" name="payment" value="net" ng-model="user.paymentMode" ng-required="user.premium">
          </div>
          <div class="radio" abm-radio label="Credit card">
            <input type="radio" name="payment" value="credit" ng-model="user.paymentMode" ng-required="user.premium">
          </div>
        </abm-form-group>
      </fieldset>
      <a href="" class="btn btn-raised btn-primary" ng-disabled="signup.$invalid" abm-component>Create Account</a>
    </form>
  </div>
  <div class="col-xs-12 col-sm-6">
    <pre>{{user | json}}</pre>
  </div>
</div>
