<div class="row" ng-controller="validationDemoCtrl">
  <div class="col-xs-12 col-sm-6">
    <form name="signup">
      <abm-form-group error-messages="errorMap">
        <label data-abm-label type="floating">Name</label>
        <input type="text" name="name" class="form-control" abm-form-control ng-model="user.name" required>
      </abm-form-group>
      <abm-form-group error-messages="errorMap">
        <label data-abm-label>Email</label>
        <input type="email" name="email" class="form-control" placeholder="johndoe@mail.com" abm-form-control ng-model="user.email" required>
      </abm-form-group>
      <div class="form-group">
        <div class="togglebutton" abm-toggle label="Premium Account">
          <input type="checkbox" name="premiumAccount" ng-model="user.premium" ng-change="user.paymentMode=undefined">
        </div>
      </div>
      <abm-form-group error-messages="errorMap">
        <label>Prefered payment method</label>
        <div class="radio" abm-radio label="Net banking">
          <input type="radio" name="payment" value="net" ng-model="user.paymentMode" ng-required="user.premium" ng-disabled="!user.premium">
        </div>
        <div class="radio" abm-radio label="Credit card">
          <input type="radio" name="payment" value="credit" ng-model="user.paymentMode" ng-required="user.premium" ng-disabled="!user.premium">
        </div>
      </abm-form-group>
      <div class="form-group">
        <div class="togglebutton" abm-toggle label="Send Me Updates">
          <input type="checkbox" name="notifications" ng-model="user.notify" ng-change="user.notifications={}">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <abm-form-group error-messages="errorMap">
            <label>Notifications via:</label>
            <div class="checkbox" abm-checkbox label="Text Message">
              <input type="checkbox" name="text-notifications" ng-model="user.notifications.text" ng-disabled="!user.notify" ng-required="user.notify && !user.notifications.email">
            </div>
            <div class="checkbox" abm-checkbox label="Email">
              <input type="checkbox" name="email-notifications" ng-model="user.notifications.email" ng-disabled="!user.notify" ng-required="user.notify && !user.notifications.text">
            </div>
          </abm-form-group>
        </div>
        <div class="col-xs-6">
          <abm-form-group error-messages="errorMap">
            <label>Notification Frequency:</label>
            <select class="form-control" name="frequency" abm-form-control ng-model="user.notifications.frequency" ng-disabled="!user.notify" ng-required="user.notify">
              <option>Daily</option>
              <option>Weekly</option>
              <option>Monthly</option>
            </select>
          </abm-form-group>
        </div>
      </div>
      <a href="" class="btn btn-raised btn-primary" ng-disabled="signup.$invalid" abm-component>Create Account</a>
    </form>
  </div>
  <div class="col-xs-12 col-sm-6">
    <pre>{{user | json}}</pre>
    <p>Validate just like any other angular application, except specifying validation messages for a control wrapped in <code>abmFormGroup</code> directive: </p>
    <ul>
      <li>Add a <code>error-messages</code> attribute which points to an object map containing the type of error and error message as key - value pairs</li>
      <li>Add a <code>error-messages-include</code> which points to a template as mentioned in the <a href="https://docs.angularjs.org/api/ngMessages#reusing-and-overriding-messages" target="_self">documentation</a></li>
      <li>Inject <code>abmConfig</code> service in your application and provide an error map via it's <code>setErrors</code> method. Note that these will be global for the application</li>
    </ul>
  </div>
</div>
