<form action="">
  <h4>Static Labels</h4>
  <abm-form-group class="form-group-sm">
    <label data-abm-label>Static label - Small</label>
    <input type="text" class="form-control" ng-model="inputs.static1" abm-form-control>
  </abm-form-group>
  <abm-form-group>
    <label data-abm-label>Static label - Default</label>
    <input type="text" class="form-control" ng-model="inputs.static2" abm-form-control placeholder="placeholder">
  </abm-form-group>
  <abm-form-group class="form-group-lg">
    <label data-abm-label>Static label - Large</label>
    <input type="text" class="form-control" ng-model="inputs.static3" abm-form-control>
  </abm-form-group>
  <h4>Folating Labels</h4>
  <abm-form-group class="form-group-sm">
    <label data-abm-label type="floating">Floating label - Small</label>
    <input type="text" abm-form-control ng-model="inputs.floating1">
  </abm-form-group>
  <abm-form-group>
    <label data-abm-label type="floating">Floating label - Default</label>
    <input type="text" abm-form-control ng-model="inputs.floating2">
  </abm-form-group>
  <abm-form-group class="form-group-lg">
    <label data-abm-label type="floating">Floating label - Large</label>
    <input type="text" abm-form-control ng-model="inputs.floating3">
  </abm-form-group>
</form>
