<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Bootstrap Material Design for Angular by tilwinjoy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/css/bootstrap-material-design.min.css">
    <!-- TBD: Add ripples support -->
    <!--link rel="stylesheet" type="text/css" href="dist/css/ripples.min.css"-->
</head>

<body ng-app="angularBootstrapMaterial">
    <section class="page-header">
        <h1 class="project-name">Bootstrap Material Design for Angular</h1>
        <h2 class="project-tagline">AngularJS directives for creating material design style bootstrap components</h2>
        <a href="http://github.com/tilwinjoy/angular-bootstrap-material" class="btn">View on GitHub</a>
        <a href="http://github.com/tilwinjoy/angular-bootstrap-material/zipball/master" class="btn">Download .zip</a>
        <a href="http://github.com/tilwinjoy/angular-bootstrap-material/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
        <h3>Input</h3>
        <form name="testForm">
            <abm-form-group>
                <label data-abm-label>Static label</label>
                <input type="text" class="form-control" abm-form-control>
            </abm-form-group>
            <abm-form-group>
                <label data-abm-label type="floating">Floating label</label>
                <input type="text" abm-form-control ng-model="user.email" required ng-minlength="10">
            </abm-form-group>
            <abm-form-group>
                <input type="email" abm-form-control ng-model="user.email" required ng-minlength="10">
            </abm-form-group>
            <abm-form-group error-messages-include="errors.html">
                <label data-abm-label type="floating">Floating user summary</label>
                <textarea abm-form-control ng-model="user.summary" required ng-minlength="100"></textarea>
            </abm-form-group>
            <abm-form-group error-messages-include="errors.html">
                <label>Checkbox group!</label>
                <div class="checkbox" abm-checkbox label="checkbox!">
                    <input type="checkbox" ng-model="user.email" required ng-minlength="10">
                </div>
                <div class="checkbox" abm-checkbox label="checkbox!">
                    <input type="checkbox" ng-model="user.email" required ng-minlength="10">
                </div>
            </abm-form-group>
            <div class="checkbox" abm-checkbox label="checkbox!">
                <input type="checkbox" ng-model="user.email" required ng-minlength="10">
            </div>
            <abm-form-group error-messages-include="errors.html">
                <label>Radio group!</label>
                <div class="radio" abm-radio label="radio!">
                    <input type="radio" name="radios" ng-model="user.email" required ng-minlength="10">
                </div>
                <div class="radio" abm-radio label="radio!">
                    <input type="radio" name="radios" ng-model="user.email" required ng-minlength="10">
                </div>
            </abm-form-group>
            <abm-form-group error-messages-include="errors.html">
                <label for="select111" data-abm-label class="col-xs-2 control-label">Select</label>
                <div class="col-xs-10">
                    <select id="select111" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </abm-form-group>
        </form>
        <footer class="site-footer">
            <span class="site-footer-owner"><a href="http://github.com/tilwinjoy/angular-bootstrap-material">Bootstrap Material Design for Angular</a> is maintained by <a href="http://github.com/tilwinjoy">tilwinjoy</a>.</span>

            <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
        </footer>

    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-messages.min.js"></script>
    <script src="https://rawgit.com/tilwinjoy/angular-bootstrap-material/development/dist/angular-bootstrap-material.js"></script>
</body>

</html>