<form action="">
  <abm-form-group>
    <label>Radio group - inside <code>.form-group</code> </label>
    <div class="radio" abm-radio label="Item1">
      <input type="radio" name="radios" ng-model="radio.item1">
    </div>
    <div class="radio" abm-radio label="Item2">
      <input type="radio" name="radios" ng-model="radio.item2">
    </div>
  </abm-form-group>
  <label>Radio group - outside <code>.form-group</code> </label>
  <div class="radio" abm-radio label="Item3">
    <input type="radio" name="radios" ng-model="radio.item3">
  </div>
  <div class="radio" abm-radio label="Item4">
    <input type="radio" name="radios" ng-model="radio.item4">
  </div>
</form>
