<form action="">
  <abm-form-group>
    <label>Checkbox group - Inside <code>.form-group</code></label>
    <div class="checkbox" abm-checkbox label="Item1">
      <input type="checkbox" ng-model="checkbox.item1">
    </div>
    <div class="checkbox" abm-checkbox label="Item2">
      <input type="checkbox" ng-model="checkbox.item2">
    </div>
  </abm-form-group>
  <label>Checkbox group - Outside <code>.form-group</code></label>
  <div class="checkbox" abm-checkbox label="Item3">
    <input type="checkbox" ng-model="checkbox.item3">
  </div>
  <div class="checkbox" abm-checkbox label="Item4">
    <input type="checkbox" ng-model="checkbox.item4">
  </div>
</form>
