/* Specify styling for tooltip contents */

.tooltip.customClass .tooltip-inner {
  color: #880000;
  background-color: #ffff66;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}


/* Hide arrow */

.tooltip.customClass .tooltip-arrow {
  display: none;
}
